.Cockpit button {
  border: 2px solid pink;
  padding: 18px;
  background-color: peru;
  color: white;
}

.Cockpit button:hover {
  background-color: lightblue;
  color: black;
}

.Cockpit button.Red {
  background-color: red;
}

.Cockpit button.Red:hover {
  background-color: salmon;
  color: black;
}
